
"babel": {
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    // ["import", { "libraryName": "antd-mobile", "style": "css" }] // `style: true` 会加载 less 文件
  ],
  "presets": [
    "react-app"
  ]
}
